<form class="flex flex-col items-center" [formGroup]="formFiltros">
  <div
    class="flex flex-col items-center w-11/12 mt-4 bg-white border border-gray-200 rounded-lg shadow"
  >
    <div
      class="flex flex-row justify-between w-11/12 my-3 cursor-pointer"
      (click)="toogleHideFilter()"
    >
      <h3 class="m-0 text-xl font-medium">Filtros de Búsqueda</h3>
      <div *ngIf="!hideFilter; else ocultar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          viewBox="0 -960 960 960"
          width="32"
        >
          <path
            d="m283-345-43-43 240-240 240 239-43 43-197-197-197 198Z"
            fill="gray"
          />
        </svg>
      </div>
      <ng-template #ocultar>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          viewBox="0 -960 960 960"
          width="32"
        >
          <path
            d="M480-345 240-585l43-43 197 198 197-197 43 43-240 239Z"
            fill="gray"
          />
        </svg>
      </ng-template>
    </div>
    <ng-container *ngIf="!hideFilter">
      <!--? BUSQUEDA POR NUMERO DE TRAMITE O AFORO -->
      <div class="flex items-center w-11/12 m-4 mt-0">
        <div class="relative w-full">
          <input
            tabindex="1"
            type="text"
            formControlName="busqueda"
            maxlength="15"
            id="simple-search"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full md:pl-10 p-2.5"
            placeholder="Buscar por número de trámite o número de aforo"
          />
        </div>
        <button
          type="submit"
          tabindex="2"
          [disabled]="formFiltros.invalid"
          (click)="onSubmit()"
          (change)="addFilter('busqueda')"
          class="flex flex-row items-center gap-4 p-3 ml-2 text-sm font-medium text-white border rounded-lg button focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          Buscar
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </button>
      </div>
      <!--? CATEGORIA TRAMITE -->
      <div class="flex flex-col justify-between w-11/12 md:flex-row">
        <div class="md:w-6/12 md:pr-4">
          <select
            tabindex="3"
            (change)="setTramiteServicio(); onSubmit()"
            formControlName="categoria"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="" disabled selected>Categoría de Trámite</option>
            <option
              *ngFor="let categoria of tramiteSrv.categorias"
              [ngValue]="categoria"
            >
              {{ categoria.nombre }}
            </option>
          </select>
        </div>
        <!--? TRAMITE/SERVICIO -->
        <div class="md:w-6/12">
          <select
            #tramiteServicio
            tabindex="4"
            (change)="addFilter('tramiteServicio'); onSubmit()"
            formControlName="tramiteServicio"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="" disabled selected>Trámite / Servicio</option>
            <ng-container *ngIf="tramiteServicio$()[0].id === 0">
              <option [value]="null" disabled class="text-black">
                Seleccione una categoría de tramites para ver la lista
              </option>
            </ng-container>
            <ng-container *ngIf="tramiteServicio$()[0].id !== 0">
              <option
                *ngFor="let servicio of tramiteServicio$()"
                [ngValue]="servicio"
              >
                {{ servicio.nombre }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="flex flex-col justify-between w-11/12 md:flex-row">
        <!--? ESTADO TRAMITE -->
        <div class="md:w-6/12 md:pr-4">
          <select
            tabindex="5"
            (change)="addFilter('estadoTramite'); onSubmit()"
            formControlName="estadoTramite"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="" disabled selected>Estado Trámite</option>
            <option
              *ngFor="let estado of tramiteSrv.estadoTramite"
              [ngValue]="estado"
            >
              {{ estado.descripcion }}
            </option>
          </select>
        </div>
        <!--? ESTADO TASAS -->
        <div class="md:w-6/12">
          <select
            tabindex="6"
            (change)="addFilter('estadoTasas'); onSubmit()"
            formControlName="estadoTasas"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="" disabled selected>Estado Tasas</option>
            <option
              *ngFor="let estado of tramiteSrv.estadoTasas"
              [ngValue]="estado"
            >
              {{ estado.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="flex flex-col justify-between w-11/12 md:flex-row">
        <!--? JURISDICCION -->
        <div class="md:w-6/12 md:pr-4">
          <select
            tabindex="7"
            formControlName="jurisdiccion"
            (change)="addFilter('jurisdiccion'); onSubmit()"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="" disabled selected>Jurisdicción</option>
            <option
              *ngFor="let jurisdiccion of tramiteSrv.jurisdicciones"
              [ngValue]="jurisdiccion"
            >
              {{ jurisdiccion.nombre }}
            </option>
          </select>
        </div>
        <!--? ESTADO EXCENDENTES -->
        <div class="md:w-6/12">
          <select
            tabindex="8"
            (change)="addFilter('estadoExcedentes'); onSubmit()"
            formControlName="estadoExcedentes"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="" disabled selected>Estados Excedentes</option>
            <option
              *ngFor="let estado of tramiteSrv.estadoExcedentes"
              [ngValue]="estado"
              [disabled]=""
            >
              {{ estado.descripcion }}
            </option>
          </select>
        </div>
        <!--? BOTON LIMPIAR FILTROS -->
      </div>
      <div
        class="flex flex-col items-start justify-between w-11/12 md:flex-row md:gap-0"
        *ngIf="filters.length > 0"
      >
        <div class="flex flex-row flex-wrap items-center gap-2">
          <p class="mb-2 text-base">Filtros:</p>
          <!--? CHIPS DE FILTROS -->
          <div *ngFor="let filtro of filters" (click)="removeFilter(filtro)">
            <app-chip-filtro [chipFiltro]="filtro" (deletedFilter)="deleteByOneFilter($event)" ></app-chip-filtro>
          </div>
        </div>
        <button
          type="button"
          tabindex="9"
          (click)="clearAllFilters()"
          class="text-white limpiar-filtros font-medium bg-secondary hover:bg-gray-600 rounded-lg text-base px-5 py-2.5 mb-2"
        >
          Limpiar Filtros
        </button>
      </div>
    </ng-container>
  </div>
</form>
