<div
  class="relative overflow-x-auto border border-gray-200 shadow sm:rounded-lg"
>
  <table class="w-full text-sm text-left">
    <thead class="text-sm">
      <tr
        class="[&>th]:px-6 [&>th]:py-3 [&>th]:w-4/12 [&>th]:text-black [&>th]:font-medium"
      >
        <th scope="col">Cantidad</th>
        <th scope="col">Monto</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b [&>td]:w-4/12 [&>td]:px-6 [&>td]:py-4 [&>td]:text-black"
      >
        <td>
          <form [formGroup]="formTasas">
            <input 
            id="cantidad" 
            (change)="maxValues()" 
            formControlName="cantidad" 
            type="number" 
            placeholder="cantidad máxima {{cantidad}}"
            class="focus:outline-none" 
            [ngClass]=" validatorSrv.validNgclass(formTasas.get('cantidad'))">
          </form>
          <app-validator-errors
          [control]="formTasas"
          getCampo="cantidad"
        ></app-validator-errors>
        </td>
        <td>${{monto}}</td>
        <td>${{total}}</td>
      </tr>
    </tbody>
  </table>
</div>
