<ul
  class="flex flex-col ml-2 [&>li]:mb-5 [&>li]:items-center [&>li]:font-medium [&>li]:text-black [&>li]:flex [&>li]:flex-row [&>li]:cursor-pointer [&>li]:gap-2"
>
  <li class="text-xl">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="26"
      viewBox="0 -960 960 960"
      width="26"
    >
      <path
        d="M453-280h60v-166h167v-60H513v-174h-60v174H280v60h173v166Zm27.266 200q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80-397.681 80-480.5q0-82.819 31.5-155.659Q143-709 197.5-763t127.341-85.5Q397.681-880 480.5-880q82.819 0 155.659 31.5Q709-817 763-763t85.5 127Q880-563 880-480.266q0 82.734-31.5 155.5T763-197.684q-54 54.316-127 86Q563-80 480.266-80Zm.234-60Q622-140 721-239.5t99-241Q820-622 721.188-721 622.375-820 480-820q-141 0-240.5 98.812Q140-622.375 140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"
        fill="black"
      />
    </svg>
    Nuevo Tramite
  </li>
  <li>
    <button
      id="dropdownDefaultButton"
      data-dropdown-toggle="dropdown"
      class="items-center content-center justify-around block gap-4 text-xl"
      type="button"
    >
      <!-- <svg
        height="20"
        width="20"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg> -->
      Servicios Especiales
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdown"
      class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
    >
      <ul
        class="py-2 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Consulta de Pagos</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Pago otras tasas</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Consulta de tramites - Mesas de entrada</a
          >
        </li>
      </ul>
    </div>
  </li>
</ul>
