<div class="side-bar">
  <app-side-bar> </app-side-bar>
</div>
<!-- INICIO -->
<div class="flex-col flex items-center">
  <!-- Filtro de busqueda -->
  <div
    class="w-11/12 mt-4 flex items-center flex-col bg-white border border-gray-200 rounded-lg shadow"
  >
    <div class="flex flex-row w-11/12 mt-3">
      <h3 class="text-xl m-0 font-semibold">Filtros de Búsqueda</h3>
    </div>
    <!--? BUSQUEDA POR NUMERO DE TRAMITE O AFORO -->
    <div class="flex items-center m-4 w-11/12">
      <div class="relative w-full">
        <input
          type="text"
          id="simple-search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full md:pl-10 p-2.5"
          placeholder="Buscar por numero de trámite o numero de aforo"
        />
      </div>
      <button
        type="submit"
        class="p-3 ml-2 text-sm font-medium text-white bg-primary rounded-lg border focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        <svg
          class="w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </div>
    <div class="w-11/12 flex flex-row justify-between">
      <!--? CATEGORIA TRAMITE -->
      <div class="w-6/12 pr-4">
        <select
          class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Categoría de Trámite</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
      <!--? TRAMITE/SERVICIO -->
      <div class="w-6/12">
        <select
          class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Tramite/Servicio</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
    </div>
    <div class="w-11/12 flex flex-row justify-between">
      <!--? ESTADO TRAMITE -->
      <div class="w-6/12 pr-4">
        <select
          class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Estado Trámite</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
      <!--? ESTADO TASAS -->
      <div class="w-6/12">
        <select
          class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Estado Tasas</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
    </div>

    <div class="w-11/12 flex flex-row justify-between">
      <!--? JURISDICCION -->
      <div class="w-6/12 pr-4">
        <select
          class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Jurisdicción</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
      <!--? ESTADO EXCENDENTES -->
      <div class="w-6/12">
        <select
          class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Estado Excedentes</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
      <!--? BOTON LIMPIAR FILTROS -->
    </div>
    <div
      class="flex md:flex-row flex-col w-11/12 justify-between items-start"
      *ngIf="filters"
    >
      <div class="flex flex-col md:flex-row items-center gap-2">
        <p class="text-base mb-2">Filtros:</p>
        <button
          type="button"
          class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-800 focus:outline-none bg-fondo rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Rosario</button
        ><button
          type="button"
          class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-800 focus:outline-none bg-fondo rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Pagado
        </button>
      </div>
      <button
        type="button"
        class="text-white font-medium bg-secondary hover:bg-gray-600 focus:ring-4 rounded-lg text-base px-5 py-2.5 mb-2"
      >
        Limpiar Filtros
      </button>
    </div>
  </div>
</div>
