<h1 class="mt-3 sm:mt-0">Inicio</h1>


<div *ngIf="unauthorized" class="space-y-3 [&>p]:text-base [&>p>span]:font-medium">
<div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Cuidado!!</span> No se encuentra atorizado para ingresar o Caducó el tiempo.
  </div>
</div>
</div>
<div class="space-y-3 [&>p]:text-base [&>p>span]:font-medium">
  <p>
    El <span> Registro General de la Propiedad Inmueble</span>, se ocupa de
    registrar la situación jurídica en que se encuentran los inmuebles ubicados
    en el territorio provincial.
  </p>

  <p>
    Su objetivo es brindar seguridad jurídica a través de la registración y la
    publicidad de los actos que allí deben inscribirse,<span>
      permitiendo conocer quién es el titular de un determinado inmueble o los
      derechos que sobre él puedan tener terceras personas</span
    >.
  </p>

  <p>
    En función de las necesidades actuales, el
    <span>
      Registro (dividido actualmente en dos Zonas: Norte y Sur), está trabajando
      en la efectiva modernización y transformación digital</span
    >
    con una Mesa de Entradas Virtual y única y, a la vez, gestionando un
    Proyecto de Nuevo Folio Real Electrónico, lo que implica reorganizar ambas
    zonas registrales sobre la base de esta técnica que concentra los asientos
    que refieren a un mismo inmueble.
  </p>

  <p>
    Tal actualización de la Infraestructura tecnológica conllevará a mejorar la
    calidad de los servicios hacia profesionales, ciudadanos y, en general,
    usuarios autorizados; cumpliendo las funciones registrales con mayor
    agilidad, sencillez e integración con otros organismos, siempre resguardando
    la transparencia y seguridad jurídica.
  </p>
</div>
