<h2 class="m-0 text-xl secondary">Opciones de Pago</h2>
<div class="flex flex-col justify-between gap-4 my-5 sm:w-8/12 sm:flex-row">
  <button
    type="button"
    class="text-white bg-primary w-full sm:w-48 hover:bg-cyan-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 focus:outline-none"
  >
    Boleta de Pago
  </button>
  <button
    type="button"
    class="text-white bg-primary w-full sm:w-48 hover:bg-cyan-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 focus:outline-none"
  >
    Link Pagos
  </button>
  <button
    type="button"
    class="text-white bg-primary w-full sm:w-48 hover:bg-cyan-700 focus:ring-4 focus:ring-blue-300 ffocus:ring-gray-300 font-medium rounded-lg text-md px-5 py-2.5 focus:outline-none"
  >
    Mercado Pago
  </button>
</div>
