<footer class="bg-white border-t-gray-500">
  <div class="flex flex-col items-center md:flex-row md:justify-around">
    <!-- RRSS -->
    <div>
      <a href="//www.santafe.gob.ar/index.php/web/content/view/full/117678"
        ><p class="text-sm font-bold secondary">
          RSS / SUSCRIPCIÓN A NOTICIAS
        </p></a
      >

      <ul class="flex flex-row justify-center gap-3 md:justify-start">
        <li class="">
          <a target="_blank" href="http://www.twitter.com/GobSantaFe">
            <i class="icon-footertwitter"></i>
          </a>
        </li>
        <li class="">
          <a target="_blank" href="http://www.facebook.com/GobSantaFe">
            <i class="icon-footerfacebook"></i>
          </a>
        </li>
        <li class="">
          <a target="_blank" href="http://www.youtube.com/GobSantaFe">
            <i class="icon-footeryoutube"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- LOGO PROVINCIA -->
    <div>
      <div class="text-center stg-logos">
        <img
          src="//www.santafe.gob.ar/assets/standard/images/marca-footer.png"
          alt="Santa Fe"
          class="mb-3"
        />
      </div>
    </div>
    <!-- ATENCION TELEFONICA -->
    <div class="col-sm-12 col-md-4 contact-data-footer">
      <p class="text-sm text-center md:text-right">
        Atenci&oacute;n telef&oacute;nica: 0800-777-0801<br />Lunes a viernes de
        8 a 18 hs
      </p>
      <p class="text-sm text-center md:text-right">
        <span class="cc">c</span>
        Atribución-CompartirIgual 2.5 Argentina
      </p>
    </div>
  </div>
</footer>
