<div
  [routerLink]="ruta"
  class="flex flex-row items-center justify-between w-full p-5 bg-white border border-gray-200 rounded-lg shadow cursor-pointer w- hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h5
    class="m-0 text-2xl font-medium tracking-tight text-gray-900 dark:text-white"
  >
    {{ titulo }}
  </h5>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="28"
    viewBox="0 -960 960 960"
    width="28"
  >
    <path d="m304-82-56-57 343-343-343-343 56-57 400 400L304-82Z" />
  </svg>
</div>
