<header
  class="flex flex-row items-center justify-between w-full h-full md:px-7 bg-fondo"
>
  <div class="flex flex-col justify-center">
    <h1 class="mx-5 my-0 font-medium md:mx-0">{{ titulo }}</h1>
    <h2 class="mx-5 my-0 text-lg secondary md:mx-0">
      {{
        ministerio
          ? ministerio
          : "Ministerio de Gobierno, Justicia y Derechos Humanos"
      }}
    </h2>
  </div>
  <!-- TODO: Crear componente de avatar -->
  <div
    class="relative invisible w-12 h-12 overflow-hidden bg-gray-100 rounded-full sm:visible"
  >
    <svg
      class="absolute text-gray-400 w-14 h-14 -left-1"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </div>
</header>
