<!-- <header
  class="flex flex-row items-center justify-between w-full h-full shadow-md md:px-12"
>
  <div *ngIf="isDesktop" class="flex flex-col justify-center">
    <h1 class="mx-5 my-0 font-medium md:mx-0">{{ appSrv.nombre }}</h1>
    <h2  class="mx-5 my-0 text-lg secondary md:mx-0">
      {{ appSrv.ministerio }}
    </h2>
  </div>
  <div class="fixed right-0 z-40 flex md:flex-row md:relative md:top-0 top-5">
    <app-notificacion></app-notificacion>
    <app-avatar></app-avatar>
  </div>
</header> -->
<nav
  class="fixed top-0 z-40 w-full bg-white border-b border-gray-200"
  [ngClass]="open ? 'menu' : ''"
>
  <div class="px-3 py-1 lg:px-5 lg:pl-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <!-- ************** -->
        <!-- boton opciones mobile -->
        <!-- ************** -->
        <button
          (click)="openSidenav()"
          aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 mr-3 text-sm text-gray-500 rounded-lg sm:mr-0 sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a routerLink="/" class="flex md:mr-[5rem] ocultar-sm">
          <img
            src="https://www.santafe.gob.ar/assets/app/portal2016/images/logo-header.png"
            class="h-[4.5rem] mr-3"
            alt="Logo Santa Fe"
          />
        </a>

        <!-- ************** -->
        <!--     TITULOS    -->
        <!-- ************** -->

        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-col justify-center">
            <h1 class="my-0 text-2xl font-medium sm:text-3xl">
              {{ titulo }}
            </h1>
            <h2 class="my-0 text-lg secondary ocultar-sm">
              {{ appSrv.nombre }}
            </h2>
          </div>
        </div>
      </div>

      <!-- ************** -->
      <!-- NOTIFICACIONES -->
      <!-- ************** -->

      <!-- Si no usas sidebar elimina las clases de este contenedor -->
      <div class="block sm:hidden">
        <app-notificaciones />
      </div>

      <!-- ********************** -->
      <!-- INICIAR/CERRAR SESION  -->
      <!-- ********************** -->

      <div>
        <div
          class="cursor-pointer hover:underline"
          *ngIf="!userSrv.getUserCas()"
          (click)="login()"
        >
          Iniciar sesion
        </div>

        <div
          class="cursor-pointer hover:underline"
          *ngIf="userSrv.getUserCas()"
          (click)="logout()"
        >
          Cerrar sesion
        </div>
      </div>

      <!-- ************** -->
      <!-- LOGO USUARIO   -->
      <!-- ************** -->
      <div class="flex items-center">
        <div class="flex items-center ml-3">
          <div>
            <button
              type="button"
              class="flex items-center justify-center w-10 h-10 text-sm bg-gray-200 rounded-full sm:w-12 sm:h-12 focus:ring-4 focus:ring-gray-300"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <!-- <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo"> -->
              <svg
                class="w-8 h-8 overflow-hidden text-gray-400 rounded-full sm:w-10 sm:h-10"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div
            class="z-40 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow"
            id="dropdown-user"
          >
            <div class="px-4 py-3">
              <p class="text-sm text-gray-900">
                {{ "Nombre Usuario" }}
              </p>
              <p class="text-sm font-medium text-gray-900 truncate">
                usuario@santafe.gob.ar
              </p>
            </div>
            <ul class="py-1">
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                  >Perfil</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                  >Cerrar sesión</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="z-50 w-full h-full px-3 pt-6 pb-4 overflow-y-auto bg-gray-200 sm:hidden"
    [ngClass]="open ? '' : 'hidden'"
  >
    <ng-content></ng-content>
  </div>
</nav>
