.grid-container {
  display: grid;
  grid-template-areas:
    "content"
    "footer";
  grid-template-rows: auto 6rem;
  height: 100vh;
  overflow-x: auto;
}


.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.container {
  margin-left: 10rem;
  transition: margin 0.6s ease;
}

.container.expanded {
  margin-left: 14rem;
}

.expanded {
  transition: margin 0.6s ease;
}

@media screen and (min-width: 768px) {
  .grid-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }


  .grid-container::-webkit-scrollbar {
    display: none;
  }
}



@media (max-width: 720px) {
  .container {
    margin-left: 0rem;
  }


  .container.expanded {
    margin-left: 0rem;
  }
}
