<div
  [routerLink]="['/tramiteDigital/oficina', oficina?.pk, tipo.nombre]"
  routerLinkActive="router-link-active"
  class="card min-h-min"
>
  <div class="card-header">
    {{ tipo.nombre }}
  </div>
  <p class="text-sm text-gray-500 dark:text-gray-400">
    {{ tipo.descripcion }}
  </p>
  <br />
  <div>
    <div class="gap-2 text-center" *ngFor="let acto of tipo.acto">
      <div
        *ngIf="acto"
        [routerLink]="acto.pk + '/' + tipo.pk"
        class="m-1 cursor-pointer btn btn-primary me-md-2"
      >
        {{ acto.descripcion }}
      </div>
    </div>
  </div>
</div>
