<div class="overflow-x-auto">
  <table mat-table [dataSource]="dataSource">
    <!--filterRow-->
    <ng-container matColumnDef="pagar" *ngIf="accionesSrv.pagoMultiple()">
      <th mat-header-cell *matHeaderCellDef>Pagar</th>
      <td mat-cell *matCellDef="let tramite">
        <input type="checkbox" [value]="tramite.pagar" />
      </td>
    </ng-container>

    <ng-container matColumnDef="tramite">
      <th mat-header-cell *matHeaderCellDef>Trámite</th>
      <td mat-cell *matCellDef="let tramite" (click)="openBottomSheet(tramite)">
        {{ tramite.TipoTramiteServicio.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="numeroFormulario">
      <th mat-header-cell *matHeaderCellDef>Aforo</th>
      <td mat-cell *matCellDef="let tramite" (click)="openBottomSheet(tramite)">
        {{ tramite.aforo }}/{{ tramite.aforoAnio }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jurisdiccion">
      <th mat-header-cell *matHeaderCellDef>Jurisdicción</th>
      <td mat-cell *matCellDef="let tramite" (click)="openBottomSheet(tramite)">
        {{ tramite.Jurisdiccion.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tasas">
      <th mat-header-cell *matHeaderCellDef>Estado Tasas</th>
      <td mat-cell *matCellDef="let tramite" (click)="openBottomSheet(tramite)">
        {{ tramite.EstadoTasas.descripcion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="excedentes">
      <th mat-header-cell *matHeaderCellDef>Estado Excedentes</th>
      <td mat-cell *matCellDef="let tramite" (click)="openBottomSheet(tramite)">
        {{ tramite.EstadoExcedentes.descripcion }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div *ngIf="alert.length === 0" class="flex justify-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-100" role="alert">
    <span class="font-medium">No se encontraron trámites</span>
  </div>
  <mat-paginator
    class="mb-5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    itemsPerPageLabel="Tramites por página"
  >
  </mat-paginator>
</div>
