<div class="side-bar">
  <app-side-bar>
    <app-botones-tramite></app-botones-tramite>
  </app-side-bar>
</div>
<!-- INICIO -->
<div class="my-5">
  <!-- Filtro de busqueda -->
  <app-filtros-busqueda></app-filtros-busqueda>
  <!-- TABS -->

  <mat-tab-group class="mt-3">
    <mat-tab label="Pendiente">
      <app-tabla-pendientes></app-tabla-pendientes>
    </mat-tab>
    <mat-tab label="Entregado">
      <app-tabla-entregado></app-tabla-entregado>
    </mat-tab>
    <mat-tab label="Finalizado">
      <app-tabla-finalizado></app-tabla-finalizado>
    </mat-tab>
  </mat-tab-group>
</div>
