<!-- Filtro de busqueda -->
    <app-filtros-busqueda></app-filtros-busqueda>
<!-- TABS -->
  <mat-tab-group >
    <mat-tab label="No Presentado">
      <app-tabla-pendientes *ngIf="!errorRestTable"></app-tabla-pendientes>
      <div *ngIf="errorRestTable" class="my-3">
        <app-error-servidor [error]="errorRestTable"></app-error-servidor>
      </div>
    </mat-tab>
    <mat-tab label="Presentado">
      <app-tabla-entregado *ngIf="!errorRestTable"></app-tabla-entregado>
      <div *ngIf="errorRestTable" class="my-3">
        <app-error-servidor [error]="errorRestTable"></app-error-servidor>
      </div>
    </mat-tab>
    <mat-tab label="Entregado">
      <app-tabla-finalizado *ngIf="!errorRestTable"></app-tabla-finalizado>
      <div *ngIf="errorRestTable" class="my-3">
        <app-error-servidor [error]="errorRestTable"></app-error-servidor>
      </div>
    </mat-tab>
  </mat-tab-group>


