@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply mb-2 text-3xl font-medium tracking-tight text-[var(--h1-color)];
  }

  h2 {
    @apply mb-2 text-2xl font-medium tracking-tight text-[var(--h2-color)];
  }

  h3 {
    @apply mb-2 text-xl font-medium tracking-tight text-[var(--h3-color)];
  }

  h4 {
    @apply mb-2 text-lg font-medium tracking-tight text-[var(--h4-color)];
  }

  h5 {
    @apply mb-2 text-base font-medium tracking-tight text-[var(--h5-color)];
  }

  h6 {
    @apply mb-2 text-sm font-medium tracking-tight text-[var(--h6-color)];
  }

  label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }

  input[type="text"] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

  input[type="number"] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

  input[type="checkbox"] {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2;
  }

  input[type="radio"] {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2;
  }

  a {
    @apply hover:underline cursor-pointer;
  }

  .btn-primary {
    @apply block rounded-lg bg-[#108a97]  px-5 py-2.5 text-base text-white focus:outline-none focus:ring-4 focus:ring-blue-300 disabled:opacity-75 hover:bg-[#0c6a74];
  }

  .btn-secondary {
    @apply block rounded-lg bg-[#6c757d]  px-5 py-2.5 text-base text-white hover:bg-[#5a6268] focus:outline-none focus:ring-4 focus:ring-gray-300 disabled:opacity-75;
  }

  .card-header {
    @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
  }

  .card {
    @apply max-w-sm rounded-lg border border-gray-200 bg-white p-6 shadow;
  }

  .item-list {
    @apply flex items-center py-2  text-gray-900 rounded-lg overflow-x-hidden hover:bg-gray-100;
  }

  .item-list-expand {
    @apply flex items-center py-2 px-2 text-gray-900 rounded-lg hover:bg-gray-100 overflow-x-hidden;
  }
}



* {
  margin: 0px;
  padding: 0px;
}

footer a {
  color: var(--colorFooter);
}

footer ul li > a {
  font-size: 25px;
}

a {
  color: var(--colorFuente);
  background-color: transparent;
}

.primary {
  color: var(--colorFuente);
}

.secondary {
  color: var(--colorFooter);
}

.bg-primary {
  background-color: var(--colorFuente);
}

.bg-secondary {
  background-color: var(--colorFooter);
}

.bg-fondo {
  background-color: var(--fondo);
}

//*   BOTONES

.button:enabled {
  background-color: var(--colorFuente);
}

.button:disabled {
  background-color: var(--button-focus-color);
}

/* GRID LAYOUT*/
// .app-container {
//   display: grid;
//   grid-template-columns: 200px auto;
//   grid-template-rows: 100px auto 100px;
//   grid-template-areas:
//     "sidebar  header"
//     "sidebar  main"
//     "sidebar  footer";
//   height: 100vh;
//   width: 100vw;
// }

// .header {
//   grid-area: header;
// }

// .sidebar {
//   grid-area: sidebar;
//   height: 100%;
//   width: 100%;
// }

// aside {
//   width: 200px;
// }

// .main {
//   grid-area: main;

// }

// .footer {
//   grid-area: footer;
// }

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(233, 233, 233);
}

// @media screen and (max-width: 768px) {
//   .app-container {
//     grid-template-columns: 1fr;
//     grid-template-rows: 60px 120px max-content 100px;
//     grid-template-areas:
//     "sidebar"
//     "header"
//     "main"
//     "footer";
//   }

//   .main{
//   overflow-x: auto;
//   }

//   .side-bar{
//     position: absolute;
//     top: 0px;
//     background-color:white ;
//     width: 100%;
//     z-index: 30;
//   }

//   .header{
//     position: static;
//   }

//   .footer{
//     position: static;
//   }
// }

/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
