<div class="flex flex-col gap-6 mt-3 sm:mt-0">
  <span>
    <h2 class="m-0 text-2xl primary">Nuevo Trámite</h2>
  </span>

  <form
    class="flex flex-col justify-start w-full gap-6 md:flex-row"
    [formGroup]="form"
  >
    <!--? SRD  -->
    <div
      class="flex flex-col items-center w-full gap-4 pb-5 bg-white border border-gray-200 rounded-lg shadow md:w-6/12"
    >
      <span class="flex flex-row justify-start w-11/12 mt-2">
        <h3 class="m-0 text-2xl secondary">SRD</h3>
      </span>
      <div class="flex flex-col w-11/12 gap-4">
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
          formControlName="categoria"
          (change)="setTramiteServicio()"
        >
          <option value="" disabled selected>
            Seleccione una Categoría de Trámite
          </option>
          <option *ngFor="let categoria of categorias" [ngValue]="categoria">
            {{ categoria.nombre }}
          </option>
        </select>
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
          formControlName="tramiteServicio"
        >
          <option value="" disabled selected>
            Seleccione un Tramite/Servicio
          </option>

          <option *ngFor="let tramite of tramitesServicios" [ngValue]="tramite">
            {{ tramite.nombre }}
          </option>
        </select>
      </div>
      <span class="w-11/12">
        <button
          type="button"
          [disabled]="!tramiteServicio?.valid"
          class="btn-primary"
          (click)="redirectToTramite(tramiteServicio)"
        >
          Iniciar Trámite
        </button>
      </span>
    </div>
    <!--? SERVICIOS  -->
    <div
      class="flex flex-col items-center justify-center w-full gap-4 pb-5 bg-white border border-gray-200 rounded-lg shadow md:w-6/12"
    >
      <span class="flex flex-row justify-start w-11/12 mt-2">
        <h3 class="m-0 text-2xl secondary">SERVICIOS</h3>
      </span>
      <div class="flex flex-col w-11/12 gap-4">
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
          formControlName="servicio"
        >
          <option value="" disabled selected>Seleccione un Servicio</option>
          <option *ngFor="let servicio of servicios" [ngValue]="servicio">
            {{ servicio.nombre }}
          </option>
        </select>
        <span class="w-11/12">
          <button
            type="button"
            [disabled]="!servicio?.valid"
            class="btn-primary"
            (click)="redirectToTramite(servicio)"
          >
            Iniciar Trámite
          </button>
        </span>
      </div>
    </div>
    <!--? TRAMITES DIGITALES -->
    <div
      class="flex flex-col items-center justify-center w-full gap-4 pb-5 bg-white border border-gray-200 rounded-lg shadow md:w-6/12"
    >
      <span class="flex flex-row justify-start w-11/12 mt-2">
        <h3 class="m-0 text-2xl secondary">TRAMITES DIGITALES</h3>
      </span>
      <div class="flex flex-col w-11/12 gap-4">
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
        >
          <option value="" disabled selected>
            Seleccione un trámite digital
          </option>
          <option></option>
        </select>
        <app-btn-iniciar-tramite [ruta]="'/'"></app-btn-iniciar-tramite>
      </div>
    </div>
  </form>
</div>
