<div class="side-bar">
  <app-side-bar> </app-side-bar>
</div>
<div class="flex flex-col items-center gap-6">
  <span class="w-11/12 mt-3">
    <h1 class="m-0 primary">Nuevo Trámite</h1>
  </span>

  <div class="flex flex-col justify-start w-11/12 gap-6 md:flex-row">
    <!--? SRD  -->
    <div
      class="flex flex-col items-center w-full gap-4 pb-5 bg-white border border-gray-200 rounded-lg shadow md:w-6/12"
    >
      <span class="flex flex-row justify-start w-11/12 mt-2">
        <h3 class="m-0 text-2xl secondary">SRD</h3>
      </span>
      <div class="flex flex-col w-11/12 gap-4">
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
        >
          <option value="" disabled selected>
            Seleccione una Categoría de Trámite
          </option>
          <option></option>
        </select>
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
        >
          <option value="" disabled selected>
            Seleccione un Tramite/Servicio
          </option>
          <option></option>
        </select>
      </div>
      <button
        type="button"
        class="text-white bg-primary hover:bg-cyan-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 focus:outline-none w-11/12"
      >
        Iniciar Trámite
      </button>
    </div>
    <!--? SERVICIOS  -->
    <div
      class="flex flex-col items-center justify-center w-full gap-4 pb-5 bg-white border border-gray-200 rounded-lg shadow md:w-6/12"
    >
      <span class="flex flex-row justify-start w-11/12 mt-2">
        <h3 class="m-0 text-2xl secondary">SERVICIOS</h3>
      </span>
      <div class="flex flex-col w-11/12 gap-4">
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
        >
          <option value="" disabled selected>Seleccione un Servicio</option>
          <option></option>
        </select>
        <button
          type="button"
          class="text-white bg-primary hover:bg-cyan-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 focus:outline-none w-full"
        >
          Iniciar Trámite
        </button>
      </div>
    </div>
    <!--? TRAMITES DIGITALES -->
    <div
      class="flex flex-col items-center justify-center w-full gap-4 pb-5 bg-white border border-gray-200 rounded-lg shadow md:w-6/12"
    >
      <span class="flex flex-row justify-start w-11/12 mt-2">
        <h3 class="m-0 text-2xl secondary">TRAMITES DIGITALES</h3>
      </span>
      <div class="flex flex-col w-11/12 gap-4">
        <select
          class="bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
        >
          <option value="" disabled selected>
            Seleccione un trámite digital
          </option>
          <option></option>
        </select>
        <button
          type="button"
          class="text-white bg-primary hover:bg-cyan-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 focus:outline-none w-full"
        >
          Iniciar Trámite
        </button>
      </div>
    </div>
  </div>
</div>
